<template name="DonationForm">
	<div class="donationForm container-full v-center">
        <div class="row">
        <h1 class="jumboSize"><center>THANK YOU</center></h1>
        
            
    		<form onsubmit="parent.scrollTo(0, 0); return true" class="form-horizontal donation-form" role="form" id="donation_form" name="donation_form"    data-bv-feedbackicons-valid="glyphicon glyphicon-ok" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" 
                data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
            
            <!-- Bitcoin buttons -->
            <div class='topRight'>
                <a class="btn btn-success" href="https://coinbase.com/checkouts/08fdac022d552894dc005bf6d3450cb1">Donate Bitcoins</a>
                <a type="button" class="btn btn-default btn-md" href="https://coinbase.com/checkouts/08fdac022d552894dc005bf6d3450cb1">
                  <span class="glyphicon glyphicon-star"></span> Donate Bitcoins
                </a>
            </div>

              <div class="col-md-6 col-md-offset-3">
              <hr>
                    <h4><center>Your Donation Amount: </center></h4>
                    <h4 id="total_amount">{{amount}}</h4>
                </div>
            <div class="col-md-6 col-md-offset-3">
                
            
    			<div class="form-group">
                    <div class="col-md-12">
                        <label>Donation Type Summary:</label>&nbsp;<i class="fa fa-question-circle"></i>
                    </div>
                    {{> DonationTo}}
                    <div class="col-md-4 fixSpacingBetweenInputsTop">
                        <select name="donateWith" id="donateWith" class="form-control" >    
                            <option value="check" selected>Check</option>
                            <option value="card">Card</option>
                        </select>
                    </div>
                    <div class="col-md-4 fixSpacingBetweenInputsTop" name="is_recurring">
                        <select name="is_recurring" id="is_recurring" class="form-control" >    
                            <option value="monthly" selected>Monthly</option>
                            <option value="one_time">One-Time</option>
                        </select>
                    </div>
                </div>
                {{#if paymentWithCard}}
                    <!-- Checbox for Covering related fees-->
                    <div class="checkbox marginLeft">
                        <label>
                          <input type="checkbox" name="coverTheFees" id="coverTheFees" {{coverTheFeesChecked}}> I'll cover the credit card processing fees. 
                        </label>
                        <i class="fa fa-question-circle"></i>
                    </div>
                {{else}}
                {{/if}}
                <br>
    			<fieldset>

    				<!-- Form Name -->
                    <hr>
    				<p class=""><strong>INFORMATION</strong></p>

    				<!-- Amount of donation -->
    				<div class="form-group donation_amount">
    				    <label {{attributes_Label_Amount}} >Donation Amount</label>
    				    <div class="col-sm-12">
    				        <div class="input-group">
    				            <span class="input-group-addon">$</span>
    				            <input {{attributes_Input_Amount}} value="{{amount}}" />
    				        </div>
    				    </div>
    				</div>

                    <!-- Total Amount, which includes the fees if the user selected that checkbox 
                    {{> TotalDonation}}-->

    				<!--call the address portion of the form -->
                    {{> RequestAddress}}

                    <p class="moveLegend">PAYMENT DETAILS</p>

                    {{#if paymentWithCard}}
    					
    					{{> cardPaymentInformation}}
                    {{else}}
    					{{> checkPaymentInformation}}
                    {{/if}}

                    <br>
    				<div class="form-group">
    			        <div class="col-sm-offset-2 col-sm-8">
    			          <button name="submitThisForm" type="submit" class="btn btn-block btn-lg btn-primary submitThisForm" data-toggle="modal" data-target=".bs-example-modal-lg">Submit Donation</button>
                        </div>
                    </div> 
    			</fieldset>
            </div>
    	</form>	
        </div>
	</div>
    <div class="modal" id="loading1" >
        <span class="fa fa-refresh fa-spin loading1 "></span>
    </div>
</template>

<template name="checkPaymentInformation">
	<!-- Bank Info -->
	<div class="form-group">
		<div class="col-sm-12">
			<input {{attributes_Input_AccountNumber}} />
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<input {{attributes_Input_RoutingNumber}} />
		</div>
	</div>
    <div class="form-group">
        <div class="col-md-7">
            <label class="control-label" for="account_type">Account Type <i class="makeRightOfInput fa fa-question-circle"></i></label>
            <select class="form-control" name="account_type">
              <option>Checking</option>
              <option>Savings</option>
            </select>
        </div>
        <div class="center-block check-graphic">
        </div>
    </div>

</template>


<template name="cardPaymentInformation">
	<!-- CC Info -->
	<div class="form-group">
        <div class="col-sm-12">
          <input type="text" class="form-control" name="card_number" id="card_number" placeholder="Debit/Credit Card Number" value="4111111111111111">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label noRightPadding" for="expiry_month">Expiration Date</label>
        <div class="col-md-3">
            <select class="form-control" name="expiry_month" id="expiry_month">
                <option>Month</option>
                <option value="01">Jan (01)</option>
                <option value="02">Feb (02)</option>
                <option value="03">Mar (03)</option>
                <option value="04">Apr (04)</option>
                <option value="05">May (05)</option>
                <option value="06">June (06)</option>
                <option value="07">July (07)</option>
                <option value="08">Aug (08)</option>
                <option value="09">Sep (09)</option>
                <option value="10">Oct (10)</option>
                <option value="11">Nov (11)</option>
                <option value="12" selected>Dec (12)</option>
            </select>
        </div>
        <div class="col-md-3 marginRight">
            <select class="form-control" name="expiry_year">
                <option value="2014">2014</option>
                <option value="2015" selected>2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
            </select>  
        </div>
        <label class="control-label" for="cvv"><i class="makeRightOfInput fa fa-question-circle"></i></label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="cvv" id="cvv" value="123" placeholder="CVV">
        </div>
    </div>
</template>

<template name="building">

</template>