<template name="DonationTo">
	<div name="donateTo" class="col-md-4 addSomePaddingLeft">
		<select {{attributes_Input_DonationTo}} >
	       	<optgroup label="">
				<option value="Where Most Needed" selected >Where Most Needed</option>
			</optgroup>
			<optgroup label="BaseCamp" title="Base Camp is used to specify giving toward operational expenses, or to help support a missionary/staff member.">
				<option value="Urgent_Operational_Needs" >Urgent Operational Needs</option>
				<option value="Brett_Durbin" >Brett Durbin</option>
				<option value="Joshua_Bechard" >Joshua Bechard</option>
				<option value="Timm_Collins" >Timm Collins</option>
				<option value="Jon_DeMeo" >Jon DeMeo</option>
				<option value="John_Kazaklis" >John Kazaklis</option>
				<option value="Chris_Mammoliti" >Chris Mammoliti</option>
				<option value="Shelley_Setchell" >Shelley Setchell</option>
				<option value="IsaacTarwater">Isaac Tarwater</option>
				<!--<option value="WriteIn" name="WriteIn">Write In Another Name</option>-->
			</optgroup>
			<optgroup label="Dominican Republic">
				<option value="DR_Urgent">Urgent Field Needs</option>
				<option value="DR_CS">Community Sponsorship</option>
				<option value="DR_Infrastructure">Infrastructure</option>
			</optgroup>
			<optgroup label="Philippines">
				<option value="Philippines_Urgent">Urgent Field Needs</option>
				<option value="Philippines_CS">Community Sponsorship</option>
				<option value="Philippines_Infrastructure">Infrastructure</option>
			</optgroup>
			<!-- Need to make sure that the landing page on trashmountain.com can only send to this one Cambodia item -->
			<optgroup label="Cambodia">
				<option value="Cambodia_Urgent">Urgent Field Needs</option>
			</optgroup>
			<optgroup label="Honduras">
				<option value="Honduras_Urgent">Urgent Field Needs</option>
				<option value="Honduras_CS">Community Sponsorship</option>
				<option value="Honduras_Infrastructure">Infrastructure</option>
			</optgroup>
		</select>
	</div>
</template>