/*****************************************************************************/
/* CardForm: Style */
/*****************************************************************************/
.control-width {
	width: 200px;
	display: inline-block;
}
.control-width-smaller {
	width: 155px;
	display: inline-block;
}
.control-width-xs {
	width: 90px;
	display: inline-block;
}
.control-width-xxs {
	width: 68px;
	display: inline-block;
}

.loading1 {
    font-size: 18em;
	color: #389ADC;

}

#loading1 {
	vertical-align: middle;
	left: 45%;
    height: 400px;
    top: calc(50% - 150px) !important; 
    padding-left: 40px;
    padding-top: 20px;
}
.modal-backdrop.in {
   opacity: 0.01;
}
input {
    text-transform: capitalize;
}
.email {
    text-transform: none;
}
 #region {
    text-transform: uppercase;
}
.modal {
	overflow:hidden;
}
.check-graphic {
	background: url('public/images/check_image.png') no-repeat center center;
	height: 110px;
	width: 280px;
	background-size: 280px;
	margin-top: 25px;
}