<template name="DonationTo">
	<div name="donateTo" class="addSomePaddingLeft">
		<select {{attributes_Input_DonationTo}} >
	       	<optgroup label="">
				<option value="Where Most Needed" selected >Where Most Needed</option>
			</optgroup>
			<optgroup label="BaseCamp" title="Base Camp is used to specify giving toward operational expenses, or to help support a missionary/staff member.">
				<option value="Urgent Operational Needs" >Urgent Operational Needs</option>
				<option value="Brett Durbin" >Brett Durbin</option>
				<option value="Joshua Bechard" >Joshua Bechard</option>
				<option value="Timm Collins" >Timm Collins</option>
				<option value="Jon DeMeo" >Jon DeMeo</option>
				<option value="John Kazaklis" >John Kazaklis</option>
				<option value="Chris Mammoliti" >Chris Mammoliti</option>
				<option value="Shelley Setchell" >Shelley Setchell</option>
				<option value="Isaac Tarwater">Isaac Tarwater</option>
				<!--<option value="WriteIn" name="WriteIn">Write In Another Name</option>-->
			</optgroup>
			<optgroup label="Dominican Republic">
				<option value="DR Urgent">Urgent Field Needs</option>
				<option value="DR CS">Community Sponsorship</option>
				<option value="DR Infrastructure">Infrastructure</option>
			</optgroup>
			<optgroup label="Philippines">
				<option value="Philippines Urgent">Urgent Field Needs</option>
				<option value="Philippines CS">Community Sponsorship</option>
				<option value="Philippines Infrastructure">Infrastructure</option>
			</optgroup>
			<!-- Need to make sure that the landing page on trashmountain.com can only send to this one Cambodia item -->
			<optgroup label="Cambodia">
				<option value="Cambodia Urgent">Urgent Field Needs</option>
			</optgroup>
			<optgroup label="Honduras">
				<option value="Honduras Urgent">Urgent Field Needs</option>
				<option value="Honduras CS">Community Sponsorship</option>
				<option value="Honduras Infrastructure">Infrastructure</option>
			</optgroup>
		</select>
	</div>
</template>