<template name="Receipt">
    <!--[if lt IE 9]>
        <style>
            #printLink {
                display:none;
            } 
    <![endif]-->
    <!-- begin markup -->
    <div id="invoice" class="paid">
        <div class="this-is">
            <strong>Donation Receipt</strong>
        </div><!-- invoice headline -->

        <header id="header">
            <div class="invoice-intro">
                <h1 class="noTopPadding">Trash Mountain Project</h1>
                <p>Developing Christ-centered environments for children and families living in trash dump communities wordldwide.</p>
            </div>

            <dl class="invoice-meta">
                <dt class="invoice-number">Donation #</dt>
                <dd>{{#if billy}}
                        {{transaction_guid}}
                    {{else}}
                        {{receiptNumber}}
                    {{/if}}</dd>
                <dt class="invoice-date">Donation Date</dt>
                <dd>{{#if billy}}
                        {{transaction_date}}
                    {{else}}
                        {{date}}
                    {{/if}}</dd>
            </dl>
        </header>
        <!-- e: invoice header -->

        <section id="parties">
            <div class="invoice-to">
                <h2>Donation To:</h2>
                <div id="hcard-{{fname}}-{{lname}}" class="vcard">
                    <a class="url fn" href="https://trashmountain.com">Trash Mountain Project</a>
                    <a class="email" href="mailto:info@trashmountain.com">Info@trashmountain.com</a>

                    <div class="adr">
                        <div class="street-address">1555 NW Gage Boulevard</div>
                        <span class="locality">Topeka</span>
                        <span class="region">KS</span>
                        <span class="postal-code">66618</span>
                    </div>

                    <div class="tel">785-246-6845</div>
                </div><!-- e: vcard -->
            </div><!-- e invoice-to -->
            <div class="invoice-from"></div>

            <div class="invoice-from">
                <h2>Donation From:</h2>
                <div id="hcard-{{fname}}-{{lname}}" class="vcard">
                    <a class="fn">{{{org}}} {{fname}} {{lname}}</a><br>
                    <a class="email">{{email_address}}</a>

                    <div class="adr">
                        <div class="street-address">{{address_line1}}
                            {{{address_line2}}}</div>
                        <span class="locality">{{city}}</span>
                        <span class="region">{{region}}</span>
                        <span class="postal-code">{{postal_code}}</span>
                    </div>

                    <div class="tel">{{{phone_number}}}</div>
                </div><!-- e: vcard -->
            </div><!-- e invoice-from -->
        </section><!-- e: invoice partis -->

        <section class="invoice-financials">

            <div class="invoice-items">
                <table>
                    <caption>Your Donation:</caption>
                    <thead>
                    <tr>
                        <th>Designation</th>
                        <th>Payment type</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>{{donateTo}}</th>
                        <td class="donateWith text-left">{{donateWith}}</td>
                        <td>${{amount}}</td>
                    </tr>
                    {{{fees}}}
                    </tbody>
                </table>
            </div><!-- e: invoice totals -->

            <div class="invoice-notes">
                <h6>For Your Tax Purposes:</h6>
                <p>Thank you for your donation of ${{total_amount}} to Trash Mountain Project, Inc. We know that our efforts are only possible because of the contributions we receive from generous donors like you, and we thank you again for believing in and supporting our mission.</p>
                <p>The estimated value of any goods or services provided in return for your donation is $0.
                Please keep this written acknowledgment of your donation for your tax records.</p>
                <h6 class="hidden-print">Matching Gifts.</h6>
                <p class="hidden-print">Did you know that you may be able to double or triple your impact through your workplace?
                    To see if your company matches donations visit <a href="https://trashmountain.com/match">
                    trashmountain.com/match</a></p>
            </div><!-- e: invoice-notes -->

        </section><!-- e: invoice financials -->

        <footer id="footer">
            <p>
                As a 501(c)3 non-profit organization, all contributions to Trash Mountain Project, Inc. are tax deductible under 170(c)2 of the Internal Revenue Code. Trash Mountain Project, Inc.  EIN #26-4775012
            </p>
                <p><a id="printLink" class="hidden-print" href="" onclick="javascript:window.print();">Click to Print</a></p>

        </footer>
    </div><!-- e: invoice -->
</template>
