/*****************************************************************************/
/* Receipt: Style */
/*****************************************************************************/
.evenHeight {
	height: 290px;
}
.container {
	margin-top: 30px;
	background-color: white;
}
.donateWith {
	text-transform: capitalize;
}

.table th {
	border-bottom-color: #fb7a42 !important;
}

 @page { 
 	size: landscape;
}
.recap {
	margin-bottom: 10px;
}