<template name="Dashboard">
	<div class="row">
		<div class="col col-lg-2"></div>
			<div class="col-lg-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2><i class="fa fa-asterisk"></i><span class="break">Reports</span></h2>
					</div>
					<div class="panel-body">
						<div class="col-sm-2">
							<a class="quick-button" href="transactions">
								<span class="fa-stack fa-lg">
									<i class="fa fa-gift"></i>
								</span>
								<h5>Gifts</h5>
							</a>
						</div>
						<div class="col-sm-2">
							<a class="quick-button" href="report{{report_query}}">
								<span class="fa-stack fa-lg">
									<i class="fa fa-repeat"></i>
								</span>
								<h5>Recurring gifts</h5>
							</a>
						</div>
						<div class="col-sm-2">
							<a class="quick-button" href="expiring">
								<span class="fa-stack fa-lg">
									<i class="fa fa-cc-visa"></i>
								</span>
								<h5>Expiring Cards</h5>
							</a>
						</div>
                        <div class="col-sm-2">
                            <a class="quick-button" href="donortools">
							<span class="fa-stack fa-lg">
							  <i class="fa fa-money"></i>
							</span>
                                <h5>Donor Tools</h5>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a class="quick-button">
							<span class="fa-stack fa-lg">
							  <i class="fa fa-calendar fa-stack-1x"></i>
							  <i class="fa fa-ban fa-stack-2x text-danger"></i>
							</span>
                                <h5>Calendar</h5>
                            </a>
                        </div>
                        {{> DonorToolsFunds}}
						<div class="clearfix"></div>
					</div>
				</div>
			</div><!--/col-lg8-->
	</div><!--/row-->
</template>