<template name="Expiring">
    <div class="container">
        <div class="row">
            <div class="span5">
                <table id="mainTable" class="table table-striped table-condensed bootstrap-datatable datatable dataTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Expires</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each list}}
                            {{#each expiring_cards}}

                                <tr>
                                    <td>{{fname ..}} {{lname ..}}</td>
                                    <td>{{expiration_month}}/{{expiration_year}}</td>
                                    <td>{{email_address ..}}</td>
                                    <td>{{phone_number ..}}</td>
                                </tr>
                            {{/each}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>