<template name="Report_list">
    <tr id="table_row">
        <td>{{name ..}}</td>
        <td>${{amount}}</td>
        <td>{{gift_date}}</td>
        <td>{{{status}}}</td>
        <td>{{subscription_guid}}</td>
        {{{transaction_guid}}}
        <td>{{id ..}}</td>
        <td>
            <a id="view" class="btn btn-success" href="{{root_url}}/{{id ..}}"  title="View details">
                <i class="fa fa-search-plus"></i>
            </a>
        {{{delete_record}}}
        {{{stop_recurring}}}
        </td>
    </tr>
</template>