<template name="DonationTo">
	<div name="donateTo" class="addSomePaddingLeft">
		<select {{attributes_Input_DonationTo}} class="form-control noBorder custom-select-item">
	       	<optgroup label="">
				<option value="Where Most Needed" selected >Where Most Needed</option>
			</optgroup>
			<optgroup label="BaseCamp" title="Base Camp is used to specify giving toward operational expenses, or to help support a missionary/staff member.">
				<option value="UrgentOperationalNeeds" >Urgent Operational Needs</option>
				<option value="BrettDurbin" >Brett Durbin</option>
				<option value="JoshuaBechard" >Joshua Bechard</option>
				<option value="TimmCollins" >Timm Collins</option>
				<option value="JonDeMeo" >Jon DeMeo</option>
				<option value="JohnKazaklis" >John Kazaklis</option>
				<option value="ChrisMammoliti" >Chris Mammoliti</option>
				<option value="ShelleySetchell" >Shelley Setchell</option>
				<option value="IsaacTarwater">Isaac Tarwater</option>
			</optgroup>
			<optgroup label="DominicanRepublic">
				<option value="DRUrgent">Urgent Field Needs</option>
				<option value="DRCS">Community Sponsorship - Santiago</option>
				<option value="DRInfrastructure">Infrastructure</option>
			</optgroup>
			<optgroup label="Philippines">
				<option value="PhilippinesUrgent">Urgent Field Needs</option>
				<option value="PhilippinesCS">Community Sponsorship - Tanza</option>
				<option value="PhilippinesInfrastructure">Infrastructure</option>
			</optgroup>
			<optgroup label="Bolivia">
				<option value="BoliviaUrgent">Urgent Field Needs</option>
			</optgroup>
			<optgroup label="Honduras">
				<option value="HondurasUrgent">Urgent Field Needs</option>
				<option value="HondurasCS">Community Sponsorship - Tegucigalpa</option>
				<option value="HondurasInfrastructure">Infrastructure</option>
			</optgroup>
			<optgroup label="Write In">
				<option value="WriteIn">Write In</option>
			</optgroup>
		</select>
	</div>
</template>