<template name="DonationForm">
    <div class="row text-center" id="spinContainer">
        <div class="blackBackground">
            <a href="https://trashmountain.com" target="_blank"><img class="logoImage"
              src="/give/images/bw_logo.png"  style="width:235px;height:60px">
            </a>
        </div>
    <h2 class="">THANK YOU</h2>

		<form class="form-horizontal donation-form" role="form" id="donation_form" name="donation_form" data-parsley-focus="first"
              data-parsley-excluded="input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden">

            <div class="col-md-6 col-md-offset-3">
                <h4>Your Donation Amount:</h4>
                <h4 id="total_amount_display" >${{amount}}</h4>
                <input type="hidden" id="total_amount" name="total_amount" value="{{amount}}" />
            </div>
            <div class="col-md-6 col-md-offset-3">
    			<div class="form-group">
                    <div class="col-md-12">
                        <label>Donation Summary:</label>&nbsp;
                        <i class="fa fa-question-circle" name="donationSummary" data-toggle="popover" data-trigger="hover focus"  data-placement="bottom" data-container="body"
                           data-content="Below is the summary of your donation. To change your options please use the dropdown buttons." title="Donation Summary">
                        </i>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{> DonationTo}}
                        </div>
                        <div class="col-md-6">
                            <select name="donateWith" id="donateWith" class="form-control select select-primary mbl" required>
                                <option value="Check">Check</option>
                                <option value="Card">Card</option>
                            </select>
                            <label for="donateWith">Method of Payment</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <select name="is_recurring" id="is_recurring" class="form-control select select-primary mbl" required data-placeholder="Select an option">
                                <option selected></option>
                                <option value="one_time">One-Time</option>
                                <option value="monthly">Monthly</option>
                                <option value="weekly">Weekly</option>
                                <option value="daily">Daily</option>
                            </select>
                            <label for="is_recurring" id="frequency_label">Donation Frequency</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3" style="display: none;" id="calendarSection">
                        <div class="form-group">
                            <label>Donation {{start}}Date:</label>
                            <div class="input-group">

                                <span class="input-group-btn">
                                    <button class="btn" type="button"><span class="fui-calendar"></span></button>
                                </span>
                                <input type="text" class="form-control" value="{{today}}" id="start_date" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <label id="giftDesignationText" style="display: none;"><strong>Your gift is designated to "{{writeInValue}}"</strong></label>
                    </div>
                </div>
                {{#if paymentWithCard}}

                <!-- Checbox for Covering related fees-->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1 text-center">
                        <label class="checkbox" for="coverTheFees">
                            <input type="checkbox" name="coverTheFees" id="coverTheFees" data-toggle="checkbox" {{coverTheFeesChecked}} />
                            I'll cover the credit card processing fees.&nbsp;&nbsp;
                            <i id="coverTheFeesQuestion" class="fa fa-question-circle" data-toggle="popover"
                               data-placement="bottom" data-trigger="hover focus" title="Processor fees" data-container="body"
                               data-content="Our credit card processor charges 2.9% + .30 per transaction. If you check the box to cover these fees we'll do the math and change your gift amount to reflect this amount.">
                            </i>
                        </label>
                    </div>
                </div>
                <div class="row">

                </div>
                {{else}}
                {{/if}}
    			<fieldset>
    				<!-- Form Name -->
                    <hr>
    				<legend>CONTACT INFORMATION</legend>

    				<!-- Amount of donation -->
    				<div class="form-group donation_amount">
    				    <label class="col-md-4 control-label" for="amount">Donation Amount</label>
    				    <div class="col-sm-12">
    				        <div class="input-group col-md-12 col-sm-12 col-xs-12">
                            <!--[if lt IE 9]>
                                <label>Amount</label>
                            <![endif]-->
    				            <span class="input-group-addon">$</span>
    				            <input {{attributes_Input_Amount}} value="{{amount}}" class="form-control slim-borders"
                                   required data-parsley-error-message="Please enter an amount with no commas." />
    				        </div>
    				    </div>
    				</div>

    				<!--call the address portion of the form -->
                    {{> RequestAddress}}

                    <legend>PAYMENT DETAILS</legend>

                    {{#if paymentWithCard}}
    					{{> cardPaymentInformation}}
                    {{else}}
    					{{> checkPaymentInformation}}
                    {{/if}}

                    <br>
    				<div class="form-group padBottom">
    			        <div class="col-sm-offset-2 col-sm-8">
    			          <button name="submitThisForm" type="submit" class="btn btn-block btn-hg btn-primary"
                                  data-toggle="modal" data-target=".bs-example-modal-lg">Submit Donation</button>
                        </div>
                    </div>
    			</fieldset>
            </div>
            <input type="hidden" id="enteredWriteInValue" value="{{writeInValue}}" />
    	</form>
    </div>
    <div class="modal" id="loading1" >
        <span class="fa fa-refresh fa-spin loading1"></span>
    </div>

    <div class="modal fade" id="modal_for_initial_donation_error">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><strong>Sorry</strong>, that didn't work.</h4>
                </div>
                <div class="modal-body">
                    Please check the listed error and try again. If you continue to have problems processing your
                    donation please contact <a href="mailto:support@trashmountain.com?Subject=Donation Problem">support@trashmountain.com.</a>
                </div>
                <div class="alert alert-warning">
                    <p><strong>Error category:</strong> <span id="errorCategory"></span></p>
                    <p><strong>Error Description:</strong> <span id="errorDescription"></span></p>
                </div>
            </div>
        </div>
    </div>

    <!--This area is the modal that takes the write in information from the user when they first get to the donation page. 
    It only appears if they had previously selected "Support a trip participant" -->
    <div class="modal fade" id="modal_for_write_in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><strong>Enter</strong> a designation below.</h4>
                </div>
                <div class="modal-body">
                    <p>You selected the 'Support a Trip Participant', please enter a description of where you want the
                        funds to be directed. If you have any questions or don't seem to be finding what you are looking
                        for please email us. Thanks </p>
                    <a href="mailto:info@trashmountain.com?Subject=Donation Question">info@trashmountain.com.</a>
                    <p>
                        <input id="writeIn" data-parsley-type="text" class="form-control slim-borders"
                               placeholder="Name or other designation." />
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="write_in_save">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div id="spinDiv" class="fadeMe">
        {{> spinner}}
    </div>
</template>

<template name="checkPaymentInformation">
	<!-- Bank Info -->
	<div class="form-group">
		<div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Account Number</label>
            <![endif]-->
			<input {{attributes_Input_AccountNumber}} data-parsley-type="number" class="form-control slim-borders" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Routing Number</label>
            <![endif]-->
			<input {{attributes_Input_RoutingNumber}} class="form-control slim-borders" />
		</div>
	</div>
    <div class="form-group">
        <div class="col-lg-6 col-md-7 col-sm-5 col-xs-5">
            <label class="control-label" for="account_type">Account Type
                <i class="makeRightOfInput fa fa-question-circle" id="accountTypeQuestion" data-toggle="popover"
                   data-trigger="hover focus" title="Give by ACH" data-container="body"
                   data-content="There are usually 3 sets of numbers at the bottom of a check. The short check number, the 9 digit routing number and the account number.">
                </i>
            </label>
            <select class="form-control select select-primary select-block mbl" name="account_type">
              <option>Checking</option>
              <option>Savings</option>
            </select>
        </div>
        <div name="checkGraphic" class="center-block check-graphic col-lg-6 col-md-7 col-sm-5 col-xs-10">
        </div>
    </div>
    


</template>


<template name="cardPaymentInformation">
	<!-- CC Info -->
	<div class="form-group">
        <div class="col-md-9 col-sm-9 col-xs-8">
            <!--[if lt IE 9]>
                <label>Card Number</label>
            <![endif]-->
          <input type="text" class="form-control slim-borders" name="card_number" id="card_number"
                 placeholder="Debit/Credit Card Number" data-parsley-type="number" data-parsley-length="[15,16]" required>
        </div> <!-- 4111111111111111 -->
        <div class="col-md-3 col-sm-3 col-xs-4">
            <!--[if lt IE 9]>
                <label>CVV Code</label>
            <![endif]-->        
            <input type="text" class="form-control slim-borders" name="cvv" id="cvv"
                   placeholder="CVV" data-parsley-type="number" data-parsley-minlength="3" required>
        </div>
    </div>
    <div class="form-group">
        <!--<label class="col-lg-3 col-md-4 col-sm-4 col-xs-3 control-label noRightPadding" for="expiry_month">Expiration Date</label>-->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="expiry_monthDiv">
            <select class="form-control  select select-primary select-block mbl" name="expiry_month" id="expiry_month" required="true">
                <option value="">Month</option>
                <option value="01">Jan (01)</option>
                <option value="02">Feb (02)</option>
                <option value="03">Mar (03)</option>
                <option value="04">Apr (04)</option>
                <option value="05">May (05)</option>
                <option value="06">June (06)</option>
                <option value="07">July (07)</option>
                <option value="08">Aug (08)</option>
                <option value="09">Sep (09)</option>
                <option value="10">Oct (10)</option>
                <option value="11">Nov (11)</option>
                <option value="12">Dec (12)</option>
            </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" name="expiry_yearDiv">
            <select class="form-control select select-primary select-block mbl" name="expiry_year" id="expiry_year" required="true">
                <option value="">Year</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
            </select>
        </div>

        
    </div>
</template>
