<template name="DonorToolsFunds">
    <div class="col-sm-2">
        <form name="donorToolsFunds">
            <button name="submitThisForm" type="submit" class="quick-button">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-repeat"></i>
                </span>
                <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Get Funds&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
            </button>
            <!--<button name="submitThisForm" type="submit" class="quick-button">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-calendar"></i>
                    <h5>Get Funds</h5>
                </span>
                &lt;!&ndash;<div class="form-group padBottom">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button name="submitThisForm" type="submit" class="btn btn-block btn-hg btn-primary">Get Funds</button>
                    </div>
                </div>&ndash;&gt;

                <div class="">
                    <div id="form_result" style="display: none;">
                        <div id="data">

                        </div>
                    </div>
                </div>
            </button>-->
        </form>
    </div>
</template>