/*****************************************************************************/
/* Receipt: Style */
/*****************************************************************************/
@media print {

    a[href]:after {
        content: none !important;
    }

	@page { 
 		size: portrait;
 		margin-left: -2in;
 		margin-right: -2in;
	}
	h3 {
		margin-top: 0;
		margin-bottom: 0; 
	}
}
.evenHeight {
	height: 290px;
}
.container {
	margin-top: 30px;
	background-color: white;
}
.recap {
	margin-bottom: 10px;
}

.invoice-frequency {
    text-transform: capitalize;
}