<template name="RequestAddress">
  <!-- Name-->
	<div class="form-group">
		<div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>First Name</label>
            <![endif]-->        
			<input {{attributes_Input_FName}} class="form-control slim-borders capitalize_this" data-parsley-error-message="Please enter your first name." >
		</div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Last Name</label>
            <![endif]-->        
            <input {{attributes_Input_LName}} class="form-control slim-borders capitalize_this" data-parsley-error-message="Please enter your last name." >
        </div>
	</div>

    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Make a donation on behalf of your organization</label>
            <![endif]--> 
            <input type="text" id="org" class="form-control slim-borders capitalize_this" placeholder="Business Name (If applicable)" > 
        </div>
    </div><!-- /form-group -->

    <!-- email address input-->
    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Email Address</label>
            <![endif]-->        
            <input {{attributes_Input_Email_Address}} class="form-control email slim-borders" >
        </div>
    </div>
    <!-- phone number input-->
    <div class="form-group" id="phoneDiv">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Phone Number</label>
            <![endif]-->        
            <input {{attributes_Input_Phone_Number}} 
            oninvalid="setCustomValidity('Please enter only numbers')"
            onchange="try{setCustomValidity('')}catch(e){}" class="form-control slim-borders" >
        </div>
    </div>
	<!-- address-line1 input-->
    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Address Line 1</label>
            <![endif]-->        
            <input {{attributes_Input_AddressLine1}} class="form-control slim-borders capitalize_this" data-parsley-error-message="Please enter your street address.">
        </div>
    </div>
    <!-- address-line2 input-->
    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Address Line 2</label>
            <![endif]-->        
            <input {{attributes_Input_AddressLine2}} class="form-control slim-borders capitalize_this" data-parsley-error-message="Please enter your street address." >
        </div>
    </div>
    <!-- city input-->
    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>City</label>
            <![endif]-->        
            <input {{attributes_Input_City}} class="form-control slim-borders capitalize_this" data-parsley-error-message="Please enter your city name.">
        </div>
    </div>
    <!-- region input-->
    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>State</label>
            <![endif]-->     
            <input {{attributes_Input_State}} class="form-control text-capitalize slim-borders capitalize_this" data-parsley-error-message="Please enter your state name." >
        </div>
    </div>
    <!-- postal-code input-->
    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Postal Code</label>
            <![endif]-->        
            <input {{attributes_Input_Zip}} pattern="(\d{5}([\-]\d{4})?)" class="form-control slim-borders" data-parsley-error-message="Please enter your postal code.">
        </div>
    </div>
    <!-- country select -->
    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Country</label>
            <![endif]-->        
            <select {{attributes_Select_Country}} class="form-control slim-borders">
                <!--Countires template called here -->
                {{> Countries}}
            </select>
        </div>
    </div>
</template>
