<template name="RequestAddress">
    <!-- Form Name -->
    <h5>CONTACT INFORMATION</h5>

    <!-- Name-->
	<div class="form-group">
		<div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>First Name</label>
            <![endif]-->        
			<input {{attributes_Input_FName}} class="form-control slim-borders capitalize_this" data-parsley-error-message="Please enter your first name."
                  value="{{logged_in 'fname'}}"
            >
		</div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Last Name</label>
            <![endif]-->        
            <input {{attributes_Input_LName}} class="form-control slim-borders capitalize_this" data-parsley-error-message="Please enter your last name."
                  value="{{logged_in 'lname'}}">
        </div>
	</div>

    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Make a donation on behalf of your organization</label>
            <![endif]--> 
            <input type="text" id="org" class="form-control slim-borders capitalize_this" placeholder="Business Name (If applicable)"
               value="{{logged_in 'business_name'}}">
        </div>
    </div><!-- /form-group -->

    <!-- email address input-->
    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Email Address</label>
            <![endif]-->        
            <input {{attributes_Input_Email_Address}} class="form-control email slim-borders" value="{{logged_in 'email'}}" >
        </div>
    </div>
    <!-- email address input verify-->
    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Verify Your Email Address</label>
            <![endif]-->
            <input {{attributes_Input_Email_Address_Verify}} class="form-control email slim-borders" data-parsley-equalto="#email_address"
                data-parsley-error-message="Please make sure this is the same as the email address above."
                value="{{logged_in 'email'}}" >
        </div>
    </div>

    <!-- phone number input-->
    <div class="form-group" id="phoneDiv">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Phone Number</label>
            <![endif]-->        
            <input {{attributes_Input_Phone_Number}} 
                oninvalid="setCustomValidity('Please enter only numbers')"
                onchange="try{setCustomValidity('')}catch(e){}" class="form-control slim-borders"
                value="{{logged_in 'phone'}}" >
        </div>
    </div>
	<!-- address-line1 input-->
    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Address Line 1</label>
            <![endif]-->        
            <input {{attributes_Input_AddressLine1}} class="form-control slim-borders capitalize_this" data-parsley-error-message="Please enter your street address." value="{{logged_in 'line1'}}">
        </div>
    </div>
    <!-- address-line2 input-->
    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Address Line 2</label>
            <![endif]-->        
            <input {{attributes_Input_AddressLine2}} class="form-control slim-borders capitalize_this" data-parsley-error-message="Please enter your street address." value="{{logged_in 'line2'}}" >
        </div>
    </div>
    <!-- city input-->
    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>City</label>
            <![endif]-->        
            <input {{attributes_Input_City}} class="form-control slim-borders capitalize_this" data-parsley-error-message="Please enter your city name."
                 value="{{logged_in 'city'}}" >
        </div>
    </div>
    <!-- region input-->
    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>State</label>
            <![endif]-->     
            <input {{attributes_Input_State}} class="form-control text-capitalize slim-borders capitalize_this" data-parsley-error-message="Please enter your state name."
                  value="{{logged_in 'state'}}" >
        </div>
    </div>
    <!-- postal-code input-->
    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Postal Code</label>
            <![endif]-->        
            <input {{attributes_Input_Zip}} pattern="(\d{5}([\-]\d{4})?)" class="form-control slim-borders" data-parsley-error-message="Please enter your postal code."
                    value="{{logged_in 'postal_code'}}">
        </div>
    </div>
    <!-- country select -->
    <div class="form-group">
        <div class="col-sm-12">
            <!--[if lt IE 9]>
                <label>Country</label>
            <![endif]-->        
            <select {{attributes_Select_Country}} class="form-control select select-primary select-block mbl">
                <!--Countires template called here -->
                {{> Countries}}
            </select>
        </div>
    </div>
</template>
