<template name="RequestAddress">
  <!-- Name-->
	<div class="form-group">
		<div class="fixSpacingBetweenInputs">
			<input {{attributes_Input_FName}} />
		</div>
        <div class="fixSpacingBetweenInputs1">
            <input {{attributes_Input_LName}} />
        </div>
	</div>
    <!-- email address input-->
    <div class="form-group">
        <div class="col-sm-12">
            <input {{attributes_Input_Email_Address}} >
        </div>
    </div>
    <!-- phone number input-->
    <div class="form-group" id="phoneDiv">
        <div class="col-sm-12">
            <input {{attributes_Input_Phone_Number}} 
            oninvalid="setCustomValidity('Please enter only numbers')"
            onchange="try{setCustomValidity('')}catch(e){}" />
        </div>
    </div>
	<!-- address-line1 input-->
    <div class="form-group">
        <div class="col-sm-12">
            <input {{attributes_Input_AddressLine1}} >
        </div>
    </div>
    <!-- address-line2 input-->
    <div class="form-group">
        <div class="col-sm-12">
            <input {{attributes_Input_AddressLine2}} >
        </div>
    </div>
    <!-- city input-->
    <div class="form-group">
        <div class="col-sm-12">
            <input {{attributes_Input_City}} >
        </div>
    </div>
    <!-- region input-->
    <div class="form-group">
        <div class="col-sm-12">
            <input {{attributes_Input_State}} >
        </div>
    </div>
    <!-- postal-code input-->
    <div class="form-group">
        <div class="col-sm-12">
            <input {{attributes_Input_Zip}} pattern="(\d{5}([\-]\d{4})?)">
        </div>
    </div>
    <!-- country select -->
    <div class="form-group">
        <div class="col-sm-12">
            <select {{attributes_Select_Country}} >
                <!--Countires template called here -->
                {{> Countries}}
            </select>
        </div>
    </div>
</template>
