/*****************************************************************************/
/* NotFound: Style */
/*****************************************************************************/
.notFoundCenter {
    margin-top: 120px;
}
.fa-trash {
    font-size: 5em;
    color: #cb4b31;
}