.fa-check-square {
	font-size: 14em;
	color: #7ccc79;
}
html, body, .container {
    margin-top: 0;
}
.container {
    display: table;
    vertical-align: middle;
    height: 400px;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.badText {
	color: #cb4b31;
}
.fa-arrow-left {
	font-size: 15em;
	color: #cb4b31;
}
.fa-chevron-circle-left {
	font-size: 15em;
	color: #cb4b31;
}
.alignReceipt {
    margin-left: 11.8%;
    width: 76.5%;
}