<template name="UserProfile">
    <div class="UserCSS">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-lg-6">
                    <div class="well profile">
                        <div class="col-sm-12">
                            <br>
                            <div class="col-xs-12 col-sm-8">
                                <h5>{{#with user}}{{name}}{{/with}}</h5>
                                {{{business_name}}}
                                <p><strong>Address: </strong>  <i class="fa fa-pencil edit_address green-icons"></i><br>
                                    {{customer.address.line1}} <br>
                                    {{{address_line2}}}
                                    {{customer.address.city}}, {{customer.address.state}} {{customer.address.postal_code}}
                                </p>
                                <p><strong>Phone:  </strong> <i class="fa fa-pencil edit_address green-icons"></i><br>
                                    {{customer.phone}} <br>
                                </p>
                                <p><strong>Email:  </strong> <br>
                                    {{#with email}}{{email}} <br>{{/with}}
                                </p>
                                <p>
                                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal_for_address_change">
                                        Edit Profile
                                    </button>
                                </p>
                                <p>
                                    <a href="/give" class="btn btn-primary btn-block" role="button"><span class="fa fa-plus-circle"></span> Give </a>
                                </p>
                                <div class="col-xs-12 divider text-center">
                                    <p>
                                        <ul class="nav nav-list">
                                            <li class="nav-header text-left"><br>Lifetime Giving Stats</li>
                                            <li class="active text-left">
                                                <!--<a href="#">-->
                                                    <h7>Total Giving</h7>
                                                    <span class="pull-right"><h7>${{twoDecimalPlaces dt_gifts.total_given}}</h7></span>
                                                <!--</a>-->
                                            </li>
                                            <li class="text-left">
                                                <!--<a href="#">-->
                                                    <h7>Number of Gifts</h7>
                                                    <span class="pull-right"><h7>{{dt_gifts.number_of_gifts}}</h7></span>
                                                <!--</a>-->
                                            </li>
                                            <!--<li class="text-left">
                                                <a href="#">
                                                    <h7>Categories</h7>
                                                    <span class="pull-right"><h7>{{dt_gifts.categories}}</h7></span>
                                                </a>
                                            </li>-->
                                            <!--<li class="divider"></li>
                                            <li class="nav-header">Heading</li>
                                            <li class="disabled">
                                                <a href="#">
                                                    Title
                                                    <span class="badge pull-right">21</span>
                                                </a>
                                            </li>-->
                                        </ul>
                                    </p>
                                    <!--<div class="col-xs-12 col-sm-4 emphasis">
                                        &lt;!&ndash; Single button &ndash;&gt;
                                        <div class="btn-group dropup btn-block fixGroupButton">
                                            <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                Edit Profile <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu text-left" role="menu">
                                                <li class="disabled"><a href="#"><span class="fa fa-envelope pull-right"></span> Change My Email Address  </a></li>
                                                <li class="edit_address"><a href="#"><span class="fa fa-list pull-right"></span> Edit My Address  </a></li>
                                                <li class="divider"></li>
                                                <li class="disabled"><a href="#">&lt;!&ndash;<span class="fa fa-warning pull-right" ></span>&ndash;&gt;Change Recurring Gift  </a></li>
                                            </ul>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 text-center">
                                <figure data-toggle="popover" data-trigger="hover focus"  data-placement="auto" data-container="body"
                                        data-content="This is the area that you have had the most giving.">
                                    <p>Your Giving Focus</p>
                                    <strong><em>{{{giving_focus}}}</em></strong>
                                </figure>
                            </div>
                            <br>&nbsp;
                            <br>&nbsp;
                        </div>

                    </div>
                </div>
                {{#if showHistory}}
                    <div class="col-md-6 col-lg-6">
                        <h5>Your Giving History</h5>
                        <table class="table table-striped">
                            <tbody>
                            <tr class="responsiveFont">
                                <th>Date</th>
                                <th>To</th>
                                <th>Amount</th>
                            </tr>
                            {{#each dt_donations}}
                                <tr class="responsiveFont {{redText}}">
                                    <td>{{formatDate this.received_on}}</td>
                                    <td style="font-size: .9em">{{#each split}} {{{fundName}}} <br>{{/each}}</td>
                                    <td class="text-right">${{#each split}}{{twoDecimalPlaces this.amount_in_cents }} <br>{{/each}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                            <span class="orange-text">
                                pending gifts appear in orange
                            </span>
                            <span class="red-text">
                                <br>failed gifts in red
                            </span>
                        </table>
                        <nav>
                            <ul class="pager">
                                <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Newer gifts</a></li>
                                <li class="next"><a href="#">Older gifts <span aria-hidden="true">&rarr;</span></a></li>
                            </ul>
                        </nav>
                    </div>
                {{/if}}
            </div>
        </div>
        <div id="modal_for_address_change" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Edit Your Profile</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="userAddressForm">
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="email">Address Line 1:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="line1" placeholder="Address" value="{{customer.address.line1}}" required data-parsley-error-message="Please enter an address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="email">Address Line 2:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="line2" placeholder="Address Line 2" value="{{customer.address.line2}}" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-1" for="email">City</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="city" placeholder="City" value="{{customer.address.city}}" required data-parsley-error-message="Please enter a city">
                                </div>
                                <label class="control-label col-sm-1" for="email">State</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="state" placeholder="State" value="{{customer.address.state}}" required data-parsley-error-message="Please enter a state">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-1" for="pwd">Zip</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="zip" placeholder="Postal Code" value="{{customer.address.postal_code}}" required data-parsley-error-message="Please enter a postal code">
                                </div>
                                <label class="control-label col-sm-1" for="email">Phone</label>
                                <div class="col-sm-5">
                                    <input type="tel" class="form-control" id="phone" placeholder="Phone" value="{{customer.phone}}" required data-parsley-error-message="Please enter a phone number"
                                           oninvalid="setCustomValidity('Please enter only numbers')"
                                           onchange="try{setCustomValidity('')}catch(e){}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-8 col-sm-4 text-right">
                                    <button type="submit" class="btn btn-primary text-right">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</template>