.UserCSS body {
  font-family: 'Lato', 'sans-serif';
}
.UserCSS .profile {
  min-height: 355px;
  display: inline-block;
}
.UserCSS figcaption.ratings {
  margin-top: 20px;
}
.UserCSS figcaption.ratings a {
  color: #f1c40f;
  font-size: 11px;
}
.UserCSS figcaption.ratings a:hover {
  color: #f39c12;
  text-decoration: none;
}
.UserCSS .divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.UserCSS .emphasis {
  border-top: 4px solid transparent;
}
.UserCSS .emphasis:hover {
  border-top: 4px solid #1abc9c;
}
.UserCSS .emphasis h2 {
  margin-bottom: 0;
}
.UserCSS span.tags {
  background: #bdc3c7;
  border-radius: 2px;
  color: #f5f5f5;
  font-weight: bold;
  padding: 2px 4px;
}
.UserCSS .dropdown-menu {
  background-color: #f2f2f2;
  box-shadow: none;
  -webkit-box-shadow: none;
  width: 250px;
  margin-left: -125px;
  left: 50%;
}
.UserCSS .dropdown-menu .divider {
  background: none;
}
.UserCSS .dropdown-menu > li > a {
  color: #000022;
}
.UserCSS .dropup .dropdown-menu {
  margin-bottom: 10px;
}
.UserCSS .dropup .dropdown-menu:before {
  content: "";
  border-top: 10px solid #bdc3c7;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  z-index: 10;
}
.UserCSS .noRightPadding {
  padding-right: 0;
}
.UserCSS .negativeMarginLeft {
  margin-left: -8px;
}
.UserCSS .fixGroupButton > .btn:first-child {
  margin-left: 0;
}
.UserCSS .fa-pencil {
  cursor: pointer;
}
.UserCSS .responsiveFont {
  font-size: 1.5rem;
}

.UserCSS .green-icons {
    color: #48c9b0;
}

.UserCSS .orange-text {
    color: orange;
}
